a{
    text-decoration: none;
    color: #fff;
}
hr{
    margin: 20px auto;
}
body{
    background-image: url(images/weather.png);
    margin: 0px;
    padding: 0px;
    font-family: Arial, Tahoma, sans-serif;
    line-height: normal;
    font-size: 16px;
    color: #272727;
}
.mid{
    width: 1000px;
    margin: 0 auto;
}
.center{
    width: 1000px;
    margin: 0 auto;
    background-color: #10181d;
}

/*Шапка*/
.header{
    background-color: #10181d;
}
.top-menu{
    float: right;
}
.top-menu a{
    color: #fff;
    padding: 28px 10px;
    align-content: center;
    display: inline-block;
    margin-left: -5px;
    overflow: hidden;
    transition: 0.25s;
    border-bottom: 4px solid transparent;
}
.top-menu a:hover{
    background-color: #37434b;
    border-bottom: 4px solid #ffb100;
    color: #ffd064;
}
        /*Картинки*/
.anim{
    background-color: #4a4a4a;
}
.kartinki{
    background-image: url(images/slide2.png);
    width: 1000px;
    margin: 0 auto;
    height: 300px;
    animation: 15s slide infinite;
    padding: 30px 0px;
}
@keyframes slide{
    0%{background-image: url(images/slide1.png);}
    26%{background-image: url(images/slide1.png);}
    34%{background-image: url(images/slide2.png)}
    59%{background-image: url(images/slide2.png)}
    67%{background-image: url(images/slide3.png)}
    94%{background-image: url(images/slide3.png)}
    100%{background-image: url(images/slide1.png);}
}
        /*Менюшка*/
.menu{
    background-color: #00a0c6;
    font-size: 16px;
    text-transform: uppercase;
}
.links{
    width: 1000px;
    text-align: justify;
    margin: 0 auto;
}
.links a{
    line-height: 30px;
    margin-left: -5px;
    padding: 6px 134px;
    transition: 0.25s;
}
.links a:first-child{
    margin-left: 0;
}
.links a:hover{
    color: #8ae0f5;
    background-color: #015e74;
    border-bottom: 3px solid #ffb100;
}
        /*Контент*/
.fon{
    background-color: #e3faff;
    border: 2px solid #ccc;
    border-top: none;
    padding: 25px;
    padding-top: 10px;
}
.fon h2{
    margin: 0;
    padding-top: 0px;
    text-align: center;
    color: #656565;
}
.block{
    width: 450px;
    margin-top: 15px;
}
.block1{
    width: 450px;
    float: right;
    margin-top: 15px;
}
.statia{
    background-color: #e5e5e5;
    width: 400px;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: 1s;
    position: relative;
}
.statia h3{
    color: #000f2f;
    font-size: 18px;
    line-height: 1px;
}
.statia p{
    color: #7b7b7b;
    font-size: 13px;
}
.link{
    position: absolute;
    top: 163px;
    left: -900px;
    font-size: 18px;
    opacity: 0;
}
.link1{
    position: absolute;
    top: 163px;
    left: -1000px;
    font-size: 18px;
    opacity: 0;
}
.statia p,h3,img,.link{transition: 1s opacity;}
.statia:hover p{opacity: 0.5;}
.statia:hover h3{opacity: 0.25;}
.statia:hover img{opacity: 0.25;}
.statia:hover .link{left: 25px; opacity: 1;}
.statia:hover .link1{left: 25px; opacity: 1;}
.statia:hover{background-color: rgba(75, 75, 75, 0.6);}
.animation{
    background-color: #e5e5e5;
    width: 900px;
    height: 400px;
}