@font-face {
    font-family: 'jura';
    src: url('../fonts/Jura-Bold.eot');
    src: url('../fonts/Jura-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Jura-Bold.woff') format('woff'),
        url('../fonts/Jura-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'jura';
    src: url('../fonts/Jura-Regular.eot');
    src: url('../fonts/Jura-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Jura-Regular.woff') format('woff'),
        url('../fonts/Jura-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'jura';
    src: url('../fonts/Jura-Light.eot');
    src: url('../fonts/Jura-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Jura-Light.woff') format('woff'),
        url('../fonts/Jura-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'jura';
    src: url('../fonts/Jura-Medium.eot');
    src: url('../fonts/Jura-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Jura-Medium.woff') format('woff'),
        url('../fonts/Jura-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'jura';
    src: url('../fonts/Jura-DemiBold.eot');
    src: url('../fonts/Jura-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Jura-DemiBold.woff') format('woff'),
        url('../fonts/Jura-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

