body {
  font-family: jura, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #000;
}

.jura, .main-form-wrap input[type="text"], .main-form-wrap input[type="submit"], .bottom-form-inputs div input, .bottom-form-inputs div select, .bottom-form-submit input {
  font-family: jura, sans-serif;
}

.slick-slider * {
  outline: none;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1230px;
}

.header-menu {
  background-color: #e6e6e6;
  font-size: 16px;
}

.menu-main-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 2.937em;
}

.menu-main-container ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style: none;
  margin: 0;
  padding: 0 0 0.5125em 0;
}

.menu-main-container ul li {
  margin-left: 2.337em;
}

.menu-main-container ul li:first-child {
  margin: 0;
}

.menu-main-container ul li a {
  color: #000;
  line-height: 1;
  font-size: 1.3475em;
  letter-spacing: 0.01em;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.header {
  font-size: 16px;
  padding: 0.937em 0;
}

.header .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.header-logo {
  line-height: 0;
}

.header-logo img {
  width: 14.937em;
  height: 5.312em;
}

.header-text {
  margin-top: -0.13em;
  color: #0eaf0e;
  font-size: 1.812em;
  font-weight: 600;
  letter-spacing: 0.01em;
  line-height: 0.947;
}

.header-calc a {
  width: 8.27090em;
  height: 2.1875em;
  color: #000;
  font-size: 2.085em;
  font-weight: 600;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ffdd2d;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header-calc a:hover {
  background-color: #f9d100;
}

.header-phone a {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.331em;
  color: #000;
  text-decoration: none;
}

.header-phone a img {
  width: 1.181em;
  height: 1.272em;
  margin-right: 0.1608em;
}

.main-form {
  font-size: 16px;
  background: url(../img/form-bg.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  padding: 1.175em 0;
}

.main-form .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.main-form-text {
  width: 19.375em;
  margin-left: 1.5%;
}

.main-form-title {
  color: #fff;
  font-size: 4.562em;
  letter-spacing: -0.012em;
  font-weight: 600;
  line-height: 0.876;
  text-transform: uppercase;
  margin-bottom: 0.22em;
}

.main-form-txt {
  color: #fff;
  font-size: 1.5625em;
  font-weight: 600;
  line-height: 1.12;
  letter-spacing: 0.03em;
  margin-bottom: 0.5em;
  padding-left: 0.12em;
}

.main-form form {
  margin-right: 7.6%;
}

.main-form-wrap {
  padding-top: 1.53em;
}

.main-form-wrap input {
  border: none;
}

.main-form-wrap input[type="text"] {
  background-color: #fff;
  margin-bottom: 1.254em;
  width: 16.711em;
  height: 1.881em;
  font-size: 1.395em;
  font-weight: 600;
  line-height: 0.649;
  letter-spacing: 0.01em;
  padding: 0 0.672em;
  outline-color: #ffdd2d;
}

.main-form-wrap input[type="text"] ::-webkit-input-placeholder {
  color: #cccccc;
}

.main-form-wrap input[type="text"] ::-moz-placeholder {
  color: #cccccc;
}

.main-form-wrap input[type="text"] :-ms-input-placeholder {
  color: #cccccc;
}

.main-form-wrap input[type="text"] ::-ms-input-placeholder {
  color: #cccccc;
}

.main-form-wrap input[type="text"] ::placeholder {
  color: #cccccc;
}

.main-form-wrap input[type="submit"] {
  margin: 0.134em auto 0 auto;
  display: block;
  width: 10.035em;
  height: 1.881em;
  font-size: 1.395em;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #ffdd2d;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.main-form-wrap input[type="submit"]:hover {
  background-color: #f9d100;
}

.products {
  font-size: 16px;
  margin: 4.1em 0 0 0;
}

.products h2 {
  margin: 0 auto;
  font-size: 2.865em;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
}

.products-list {
  margin-top: 2.612em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.products-item {
  margin-bottom: 1em;
  padding-top: 1.5em;
  width: 18.75em;
  height: 18.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 6px solid #e6e6e6;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  text-align: center;
  position: relative;
}

.products-item:hover .products-item-select {
  background: #f9d100;
}

.products-item img {
  max-height: 9.687em;
}

.products-item > a {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.products-item-select {
  width: 100%;
  height: 1.785em;
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.785em;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ffdd2d;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.products-item-title {
  font-size: 1.875em;
  font-weight: 600;
  line-height: 0.8;
  text-transform: uppercase;
}

.partners {
  font-size: 16px;
  margin: 6.1em 0 2.8em 0;
}

.partners h2 {
  margin: 0 auto;
  font-size: 2.865em;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
}

.partners-list {
  margin-top: 2.612em;
  padding: 0 4.375em;
  position: relative;
}

.partners-item {
  display: inline-block;
  width: 13.125em;
  margin: 0 1.543em;
}

.partners-item-image {
  display: block;
  text-align: center;
  height: 5.3em;
}

.partners-item-image img {
  max-height: 100%;
  max-width: 100%;
}

.partners-item-text {
  border-left: 5px solid #808080;
  padding-left: 0.937em;
  font-size: 1.114em;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #808080;
}

.partners-arrow {
  position: absolute;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2.875em;
  height: 4.625em;
  top: 50%;
  cursor: pointer;
}

.partners-arrow.prev {
  left: 0;
}

.partners-arrow.next {
  right: 0;
}

.partners-arrow img {
  width: 100%;
  height: 100%;
}

.partners-more {
  cursor: pointer;
  margin: 2.6em auto 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 9.955em;
  height: 1.875em;
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  background-color: #ffdd2d;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.partners-more:hover {
  background-color: #f9d100;
}

.marks {
  font-size: 16px;
  margin-top: 5.187em;
}

.marks-title {
  background-color: #e6e6e6;
}

.marks h2 {
  min-height: 2.355em;
  margin: 0;
  font-size: 2.865em;
  font-weight: 600;
  line-height: 2.355em;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
}

.marks-list {
  padding: 2em 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.marks-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.marks-links a {
  margin: 0.425em 0;
  padding-left: 0.4em;
  color: #000;
  font-size: 1.562em;
  letter-spacing: 0.05em;
  text-decoration: none;
  width: -webkit-calc(20% + (20% - 7.1em) / 4);
  width: calc(20% + (20% - 7.1em) / 4);
}

.marks-links a:nth-child(5n) {
  width: 7.1em;
}

.marks-links a.more {
  margin: 0;
  padding-left: 0;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 9.210em;
  height: 2.210em;
  font-size: 1.187em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  background: #ffdd2d;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.marks-links a.more img {
  margin-left: 0.36em;
  width: 1.105em;
  height: 0.684em;
}

.marks-links a.more:hover {
  background: #f9d100;
}

.bottom {
  margin-top: 3.562em;
  font-size: 16px;
  background: url(../img/bottom-bg.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  padding-top: 2.6em;
  padding-bottom: 2em;
}

.bottom h2 {
  margin: 0;
  color: #fff;
  font-size: 2.481em;
  font-weight: 600;
  letter-spacing: 0.008em;
  text-transform: uppercase;
  text-align: center;
}

.bottom form {
  margin-top: 2.3em;
}

.bottom-form-inputs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.bottom-form-inputs div {
  width: 31.333%;
}

.bottom-form-inputs div input {
  margin-bottom: 1.523em;
  padding: 0 0.761em;
  width: 100%;
  height: 1.881em;
  font-size: 1.395em;
  font-weight: 600;
  line-height: 1.881em;
  letter-spacing: 0.01em;
  border: none;
}

.bottom-form-inputs div input::-webkit-input-placeholder {
  color: #ccc;
}

.bottom-form-inputs div input::-moz-placeholder {
  color: #ccc;
}

.bottom-form-inputs div input:-ms-input-placeholder {
  color: #ccc;
}

.bottom-form-inputs div input::-ms-input-placeholder {
  color: #ccc;
}

.bottom-form-inputs div input::placeholder {
  color: #ccc;
}

.bottom-form-inputs div select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  background-image: url(../img/down-arrow-grey.png);
  background-position: center right 0.764em;
  background-repeat: no-repeat;
  margin-bottom: 1.523em;
  padding: 0 0.761em;
  width: 100%;
  height: 1.881em;
  font-size: 1.395em;
  font-weight: 600;
  line-height: 1.881em;
  letter-spacing: 0.01em;
  border: none;
}

.bottom-form-inputs div select::invalid {
  color: #ccc;
}

.bottom-form-submit {
  text-align: center;
}

.bottom-form-submit input {
  padding: 0;
  width: 9.991em;
  height: 1.881em;
  font-size: 1.395em;
  font-weight: 600;
  cursor: pointer;
  border: none;
  background-color: #ffdd2d;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.bottom-form-submit input:hover {
  background-color: #f9d100;
}

.footer {
  margin-top: 0.5em;
  font-size: 16px;
  background-color: #ffdd2d;
}

.footer .container {
  height: 10em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-menu ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.footer-menu ul li {
  margin-right: 2em;
}

.footer-menu ul li:last-child {
  margin-right: 0;
}

.footer-menu ul li a {
  color: #000;
  font-size: 1.488em;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-copy {
  font-size: 1.178em;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.footer-phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-size: 1.9em;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-decoration: none;
}

.footer-phone img {
  margin-right: 0.164em;
  height: 1.15em;
  width: 0.986em;
}

.footer-mail {
  margin-top: 0.391em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-size: 1.275em;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-decoration: none;
}

.footer-mail img {
  margin-right: 0.391em;
  width: 1.273em;
  height: 0.979em;
}

@media screen and (max-width: 1199px) {
  .header {
    font-size: 14px;
  }
  .main-form {
    background-position: 30%;
  }
  .partners {
    font-size: 14px;
  }
  .marks {
    font-size: 15px;
  }
  .footer {
    font-size: 15px;
  }
}

@media screen and (max-width: 1023px) {
  .header, .header-menu {
    font-size: 10.6px;
  }
  .main-form {
    font-size: 13px;
  }
  .main-form-text {
    margin: 0;
  }
  .main-form form {
    margin: 0;
  }
  .products {
    margin: 2em 0 0 0;
    font-size: 12px;
  }
  .partners {
    font-size: 12px;
    margin: 3em 0 2em 0;
  }
  .marks {
    margin-top: 2em;
    font-size: 13px;
  }
  .marks-title h2 {
    line-height: 1.6;
  }
  .marks-links a:nth-child(n) {
    width: -webkit-calc(25% + (25% - 7.1em) / 3);
    width: calc(25% + (25% - 7.1em) / 3);
  }
  .marks-links a:nth-child(4n) {
    width: 7.1em;
  }
  .bottom-form-inputs {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bottom-form-inputs > div {
    width: 25em;
    max-width: 100%;
  }
  .footer {
    font-size: 16px;
  }
  .footer .container {
    padding: 1em 0;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-menu {
    margin-bottom: 1em;
  }
  .footer-contacts {
    margin-bottom: 1em;
  }
  .footer-copy {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 767px) {
  .header-logo {
    width: 50%;
    margin-bottom: 1em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-text, .header-calc, .header-phone {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-phone a {
    font-size: 2em;
  }
  .products {
    font-size: 15px;
  }
  .marks {
    font-size: 11px;
  }
  .marks-links a:nth-child(n) {
    width: -webkit-calc(33.3% + (33.3% - 7.1em) / 2);
    width: calc(33.3% + (33.3% - 7.1em) / 2);
  }
  .marks-links a:nth-child(3n) {
    width: 7.1em;
  }
  .bottom {
    font-size: 13px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    font-size: 8px;
  }
  .menu-main-container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-form {
    font-size: 12px;
  }
  .main-form form {
    width: 100%;
  }
  .main-form form input[type="text"] {
    width: 100%;
  }
  .products {
    margin: 1em 0 0 0;
  }
  .products-list {
    margin-top: 1em;
  }
  .partners h2 {
    font-size: 2.2em;
  }
  .partners-list {
    padding: 0 3em;
  }
  .marks {
    font-size: 8px;
  }
  .marks-links {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .marks-links a:nth-child(n) {
    width: -webkit-calc(50% + (50% - 7.1em));
    width: calc(50% + (50% - 7.1em));
  }
  .marks-links a:nth-child(2n) {
    width: 7.1em;
  }
  .marks-links a.more {
    height: 2.8em;
  }
  .bottom {
    font-size: 10px;
  }
  .footer {
    font-size: 12px;
  }
}

.breadcrumbs {
  font-size: 16px;
  margin-top: 1.375em;
  margin-bottom: 2em;
}

.breadcrumbs ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs ul li {
  font-size: 1.375em;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.breadcrumbs ul li span.sep {
  margin: 0 0.34em;
  display: inline-block;
  color: #ccc;
}

.breadcrumbs ul li a {
  color: #ccc;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.breadcrumbs ul li a:hover {
  color: #000;
}

.osago-calc {
  font-size: 16px;
  margin-top: 1.812em;
  height: 1198px;
}

.osago-calc .container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.osago-calc h2 {
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.865em;
  font-weight: 600;
  text-transform: uppercase;
}

.osago-calc h2 img {
  margin-right: 0.436em;
  width: 1.483em;
  height: 1.723em;
}

.osago-calc-warning {
  font-size: 1.3475em;
  font-weight: 500;
  letter-spacing: -0.01em;
}

.forbuy {
  font-size: 16px;
  background: url(../img/forbuy-bg.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  padding: 0.937em 0;
}

.forbuy .container > * {
  padding: 0 0.463em;
}

.forbuy p {
  margin: 0.347em 0;
  font-size: 1.347em;
  font-weight: 500;
  line-height: 1.274;
  letter-spacing: -0.01em;
}

.forbuy ul {
  margin: 1.347em 0 0.847em 0;
  padding: 0;
  list-style: none;
}

.forbuy ul li {
  padding-left: 0.834em;
  font-size: 1.347em;
  font-weight: 500;
  line-height: 1.274;
  letter-spacing: -0.01em;
  position: relative;
}

.forbuy ul li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 45%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #000;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.reviews {
  margin-top: 2.5em;
  padding-bottom: 2.5em;
  font-size: 16px;
}

.reviews-arrow {
  position: absolute;
  z-index: 1;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2.875em;
  height: 4.625em;
  top: 35%;
  cursor: pointer;
  width: 2.062em;
  height: 3.687em;
}

.reviews-arrow img {
  width: 100%;
  height: 100%;
}

.reviews-arrow.prev {
  left: 1em;
}

.reviews-arrow.next {
  right: 1em;
}

.reviews h2 {
  margin: 0;
  font-size: 2.865em;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
}

.reviews-sliders {
  margin-top: 2.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.reviews-slider {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 49%;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
  max-width: 25.437em;
  height: 32.75em;
}

.reviews-slider-title {
  height: 1.905em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 2.197em;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  background-color: #0eaf0e;
}

.reviews-slider-items {
  height: -webkit-calc(100% - (4.1875em + 3.6875em));
  height: calc(100% - (4.1875em + 3.6875em));
  position: relative;
}

.reviews-slider-items .slick-list, .reviews-slider-items .slick-track {
  height: 100%;
}

.reviews-slider-item {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews-slider-item img {
  width: 100%;
  height: auto;
}

.reviews-slider-btn {
  height: 2.019em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 1.825em;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #0eaf0e;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.reviews-slider-btn:hover {
  background-color: #0c970c;
}

.reviews-clients-content {
  padding-left: 2em;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews-clients-content p {
  margin: 0;
  font-size: 1.527em;
  font-weight: 600;
  letter-spacing: 0.01em;
}

.reviews-clients-content p span {
  text-transform: uppercase;
}

.reviews-rev-content {
  text-align: center;
}

.reviews-rev-date {
  margin-top: 1.7em;
  font-size: 1.5275em;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.reviews-rev-name {
  margin-top: 0.185em;
  font-size: 3.704em;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 0.01em;
}

.reviews-rev-rate {
  margin-top: 0.07em;
  font-size: 1.75em;
  color: #0eaf0e;
}

.reviews-rev-text {
  margin-top: 0.895em;
  font-size: 1.605em;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 0.01em;
}

@media screen and (max-width: 1023px) {
  .reviews {
    font-size: 13px;
  }
  .reviews-arrow {
    top: 25%;
  }
  .reviews-slider {
    max-width: 355px;
  }
  .forbuy {
    font-size: 13px;
  }
  .osago-calc {
    font-size: 13px;
  }
  .breadcrumbs {
    font-size: 13px;
  }
}

@media screen and (max-width: 767px) {
  .reviews {
    font-size: 13px;
  }
  .reviews-arrow {
    top: 25%;
  }
  .reviews-slider {
    max-width: 355px;
    margin-bottom: 1em;
  }
  .forbuy {
    font-size: 13px;
  }
  .osago-calc {
    font-size: 10px;
  }
  .breadcrumbs {
    font-size: 10px;
  }
}

@media screen and (max-width: 424px) {
  .reviews {
    font-size: 11px;
  }
  .reviews-arrow {
    top: 25%;
  }
  .reviews-slider {
    max-width: 100%;
    margin-bottom: 1em;
  }
  .forbuy {
    font-size: 11px;
  }
  .osago-calc {
    font-size: 8px;
  }
  .breadcrumbs {
    font-size: 8px;
  }
}

.casco-mark {
  margin-top: 1em;
  font-size: 16px;
}

.casco-mark h2 {
  margin: 0 0 0.3em 0;
  font-size: 2.865em;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
}

.casco-mark-content-image {
  border: 5px solid #e6e6e6;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding-bottom: 2.5em;
  float: left;
  width: 17.375em;
  height: 17.375em;
  margin: 0 1.812em 1.812em 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.casco-mark-content-image::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2.5em;
  background-color: #ffdd2d;
}

.casco-mark-content-image img {
  max-width: 95%;
  max-height: 95%;
}

.casco-mark-content p {
  margin: 0;
  font-size: 1.347em;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.01em;
}

.stages {
  margin: 3.48em 0 1.375em 0;
  font-size: 16px;
}

.stages h2 {
  margin: 0;
  font-size: 2.865em;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
}

.stages-bg {
  background-color: #ffdd2d;
  margin-top: 1.7em;
  padding: 2.562em 0 3.55em 0;
}

.stages-bg .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.stages-item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 21%;
      -ms-flex: 0 0 21%;
          flex: 0 0 21%;
}

.stages-item-image {
  width: 100%;
  height: 11em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.stages-item-image img {
  max-width: 95%;
  max-height: 100%;
}

.stages-item p {
  margin: 1em 0 0 0;
  font-size: 1.434375em;
  font-weight: 600;
  line-height: 1.045;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
}

.stages-arrow {
  padding-top: 3.825em;
}

.stages-arrow img {
  width: 2.5em;
  height: 4.062em;
}

@media screen and (max-width: 1023px) {
  .casco-mark {
    font-size: 13px;
  }
  .stages {
    font-size: 13px;
  }
}

@media screen and (max-width: 767px) {
  .casco-mark {
    font-size: 10px;
  }
  .stages {
    font-size: 10px;
  }
  .stages-arrow:nth-child(4) {
    display: none;
  }
  .stages-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}

@media screen and (max-width: 424px) {
  .casco-mark {
    font-size: 10px;
  }
  .casco-mark h2 {
    font-size: 2em;
  }
  .casco-mark-content-image {
    float: none;
    margin: 1em auto;
  }
  .stages {
    font-size: 10px;
  }
  .stages-arrow:nth-child(4) {
    display: none;
  }
  .stages-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}

.contacts {
  margin-top: 1.4em;
  margin-bottom: 4.8em;
  font-size: 16px;
}

.contacts h2 {
  margin: 0;
  font-size: 2.865em;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
}

.contacts-wrap {
  margin-top: 3.9em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.contacts-text {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.contacts-text p {
  margin: 0 0 1.35em 0;
  font-size: 2.101em;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 0.01em;
}

.contacts-text p span {
  display: block;
  font-size: 0.796em;
  font-weight: 500;
}

.contacts-text p span a {
  color: #000;
  text-decoration: none;
}

.contacts-map {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  height: 37.5em;
}

@media screen and (max-width: 1023px) {
  .contacts {
    font-size: 13px;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    font-size: 12px;
  }
  .contacts-wrap {
    display: block;
  }
  .contacts-map {
    margin: 0 -15px 0 -15px;
  }
}

.ins-card {
  margin-top: 2.7em;
  font-size: 16px;
}

.ins-card h2 {
  margin: 0 0 0.51em 0;
  font-size: 2.865em;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
}

.ins-card-content-image {
  border: 5px solid #e6e6e6;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding-bottom: 2.5em;
  float: left;
  width: 20em;
  height: 17.375em;
  margin: 0 1.812em 1.812em 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.ins-card-content-image::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2.5em;
  background-color: #ffdd2d;
}

.ins-card-content-image img {
  max-width: 95%;
  max-height: 95%;
}

.ins-card-content p {
  margin: 0;
  padding: 0.5em 0 0 0;
  font-size: 1.347em;
  font-weight: 500;
  line-height: 1.45;
  letter-spacing: -0.01em;
}

.ins-rate {
  margin-top: 0.6em;
  font-size: 16px;
}

.ins-rate h2 {
  margin: 0;
  font-size: 2.865em;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
}

.ins-rate h2 span {
  line-height: 1.788em;
  vertical-align: text-bottom;
}

.ins-rate h2 img {
  margin-left: 0.872em;
  width: 2.181em;
  height: 1.788em;
}

.ins-rate-mob {
  display: none;
}

.ins-rate .bg-green:first-child {
  margin-top: 1.5em;
}

.ins-rate .bg-green {
  background-color: #0eaf0e;
}

.ins-rate .bg-grey {
  background-color: #e6e6e6;
}

.ins-rate-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.ins-rate-header div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  font-size: 1.496em;
  font-weight: 600;
  line-height: 3.382em;
  letter-spacing: 0.01em;
  white-space: nowrap;
  text-align: center;
}

.ins-rate-body {
  margin-top: 0.25em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000;
}

.ins-rate-body div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  font-size: 1.7568em;
  font-weight: 600;
  line-height: 2.881em;
  letter-spacing: 0.01em;
  white-space: nowrap;
  text-align: center;
}

.license {
  margin-top: 1em;
  font-size: 16px;
}

.license h2 {
  margin: 0 0 0.51em 0;
  font-size: 2.865em;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
}

.license-wrap {
  background: url(../img/licenses-bg.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  padding: 5em 0;
}

.license-wrap .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.license-wrap .container img {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.other {
  margin-top: 3.6em;
  margin-bottom: 3.6em;
  font-size: 16px;
}

.other-arrow {
  position: absolute;
  z-index: 1;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2.875em;
  height: 4.625em;
  top: 50%;
  cursor: pointer;
  width: 2.875em;
  height: 4.625em;
}

.other-arrow img {
  width: 100%;
  height: 100%;
}

.other-arrow.prev {
  left: 0;
}

.other-arrow.next {
  right: 0;
}

.other h2 {
  margin: 0;
  font-size: 2.865em;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
}

.other-slider {
  margin-top: 2em;
  position: relative;
  padding: 0 3.437em;
  height: 5em;
}

.other-slider .slick-list, .other-slider .slick-track {
  height: 100%;
}

.other-slider-item {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.other-more {
  color: #000;
  cursor: pointer;
  margin: 1em auto 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 9.955em;
  height: 1.875em;
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffdd2d;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.other-more:hover {
  background-color: #f9d100;
}

@media screen and (max-width: 1199px) {
  .ins-rate {
    font-size: 14px;
  }
  .other {
    font-size: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .ins-card {
    font-size: 14px;
  }
  .ins-rate {
    margin-top: 2em;
    font-size: 11px;
  }
  .license {
    font-size: 11px;
  }
  .license-wrap .container img {
    margin-bottom: 2em;
  }
  .other {
    font-size: 11px;
  }
}

@media screen and (max-width: 767px) {
  .ins-card {
    font-size: 10px;
  }
  .ins-rate {
    margin-top: 2em;
    font-size: 8px;
  }
  .ins-rate-desc {
    display: none;
  }
  .ins-rate-mob {
    display: block;
  }
  .license {
    font-size: 7px;
  }
  .license-wrap .container img {
    margin-bottom: 2em;
  }
  .other {
    font-size: 8px;
  }
  .other-more {
    font-size: 16px;
  }
  .other-slider {
    height: 7em;
  }
}

@media screen and (max-width: 424px) {
  .ins-card-content-image {
    float: none;
    margin: 1em auto;
  }
}

.ins-osago-content {
  font-size: 16px;
  margin-top: 2.17em;
}

.ins-osago-content p {
  margin: 0;
  font-size: 1.3475em;
  font-weight: 500;
  line-height: 1.433em;
  letter-spacing: -0.01em;
}

.osago-products {
  margin-top: 2.895em;
  font-size: 16px;
}

.osago-products h2 {
  margin: 0;
  font-size: 2.865em;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
}

.osago-products-list {
  margin: 2.912em -5px 0 -5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.osago-products-item {
  margin: 0 5px 2em 5px;
  width: 17.312em;
  height: 17.312em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 6px solid #e6e6e6;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  text-align: center;
  position: relative;
}

.osago-products-item:hover span {
  background: #f9d100;
}

.osago-products-item-image {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.osago-products-item-image img {
  max-width: 95%;
  max-height: 95%;
}

.osago-products-item > a {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.osago-products-item span {
  width: 100%;
  height: 1.485em;
  font-size: 1.356em;
  font-weight: 600;
  line-height: 1.485em;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ffdd2d;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.osago-products-item p {
  margin: 15px 0;
  padding: 0 5px;
  font-size: 1.434em;
  font-weight: 600;
  line-height: 1.047;
  letter-spacing: 0.01em;
}

.calc-btns {
  margin-top: 1.15em;
  font-size: 16px;
}

.calc-btns .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.calc-btns a {
  margin: 0 0.5em 0.2em 0.5em;
  width: 13.244em;
  height: 3.103em;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 1.731em;
  line-height: 0.949;
  letter-spacing: 0.01em;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #0eaf0e;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.calc-btns a:hover {
  background-color: #0c970c;
}

.calc-btns a span {
  margin-left: 0.902em;
}

.calc-btns a img {
  width: 1.660em;
  height: 1.912em;
}

.cmp-partners {
  margin-top: 4.895em;
  font-size: 16px;
}

.cmp-partners h2 {
  margin: 0 auto;
  max-width: 16.575em;
  font-size: 2.865em;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
}

.cmp-partners-list {
  margin-top: 1em;
  padding: 0 4.375em;
  position: relative;
}

.cmp-partners-item .image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5em;
}

.cmp-partners-item .image img {
  max-width: 95%;
  max-height: 100%;
}

.cmp-partners-item a {
  margin: 1em auto 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 11.160em;
  max-width: 100%;
  height: 2.187em;
  color: #fff;
  font-size: 1.114em;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #b3b3b3;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.cmp-partners-item a:hover {
  background-color: #a6a6a6;
}

.cmp-partners-arrow {
  position: absolute;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2.875em;
  height: 4.625em;
  top: 50%;
  cursor: pointer;
}

.cmp-partners-arrow.prev {
  left: 0;
}

.cmp-partners-arrow.next {
  right: 0;
}

.cmp-partners-arrow img {
  width: 100%;
  height: 100%;
}

.cmp-partners-more {
  cursor: pointer;
  margin: 1.8em auto 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 9.955em;
  height: 1.875em;
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  background-color: #ffdd2d;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.cmp-partners-more:hover {
  background-color: #f9d100;
}

.metro {
  margin-top: 5.2em;
  font-size: 16px;
}

.metro h2 {
  margin: 0;
  font-size: 2.865em;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
}

.metro .bg {
  margin-top: 2em;
  padding: 3.975em 0 3.3em 0;
  background: url(../img/metro-bg.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.metro .bg-metro {
  margin-top: 1.275em;
  padding: 0 0 1em 0;
}

.metro-item {
  margin-bottom: 1.175em;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32.9%;
}

.metro-item a {
  font-size: 1.7em;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: #000;
}

.metro-item a img {
  width: 0.992em;
  height: 0.625em;
}

@media screen and (max-width: 1023px) {
  .osago-products-list {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .osago-products-item {
    width: 20em;
    height: 20em;
  }
  .metro {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .ins-osago-content {
    font-size: 13px;
  }
  .osago-products {
    font-size: 14px;
  }
  .metro {
    font-size: 14px;
  }
  .cmp-partners h2 {
    font-size: 1.8em;
  }
  .metro {
    font-size: 10px;
  }
  .metro-item {
    width: 49.5%;
  }
  .metro-item:last-child {
    display: none;
  }
  .calc-btns {
    font-size: 12px;
  }
}

@media screen and (max-width: 424px) {
  .cmp-partners {
    font-size: 12px;
  }
  .metro h2 {
    font-size: 2.1em;
  }
  .osago-products {
    font-size: 12px;
  }
  .osago-products-item {
    width: 23em;
    height: 23em;
    margin: 0 5px 0.5em 5px;
  }
}

.metro-search {
  margin-top: 1em;
  font-size: 16px;
}

.metro-search h2 {
  margin: 0;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
}

.metro-search .bg {
  background: url(../img/metro-bg.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  margin-bottom: 3.9em;
}

.metro-search .bg .container {
  font-size: 2.865em;
  min-height: 4.230em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.metro-search-title {
  margin-bottom: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.2em 0;
  min-height: 1.787em;
  color: #fff;
  font-size: 1.678em;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.01em;
  background-color: #0eaf0e;
  text-align: center;
}

.metro-search-title:not(:last-child) {
  margin-top: 1.59em;
}

.metro-search-item {
  margin-bottom: 1.07em;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33%;
}

.metro-search-item a {
  color: #000;
  font-size: 1.560em;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.01em;
  text-decoration: none;
}

@media screen and (max-width: 1199px) {
  .metro-search {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .metro-search {
    font-size: 13px;
  }
  .metro-search-item {
    width: 49%;
  }
}

@media screen and (max-width: 424px) {
  .metro-search {
    font-size: 10px;
  }
  .metro-search .bg .container {
    font-size: 2em;
  }
}

.osago-metro {
  margin-top: -0.8em;
  font-size: 16px;
}

.osago-metro h2 {
  margin: 0;
  font-size: 2.865em;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
}

.osago-metro p {
  margin: 0.4em 0 0.9em 0;
  padding: 0 0 0 2.6%;
  font-size: 1.347em;
  font-weight: 500;
  line-height: 1.45;
  letter-spacing: -0.01em;
}

@media screen and (max-width: 1023px) {
  .osago-metro {
    font-size: 13px;
  }
  .osago-metro p {
    padding: 0;
  }
}

@media screen and (max-width: 424px) {
  .osago-metro {
    font-size: 11px;
  }
}

.osago-mo {
  margin-top: 2.9em;
  margin-bottom: 0.4em;
  font-size: 16px;
}

.osago-mo h2 {
  margin: 0 0 0.5em 0;
  font-size: 2.865em;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
}

.osago-mo-content-image {
  border: 3px solid #e6e6e6;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding-bottom: 2.5em;
  float: left;
  width: 20.175em;
  height: 17.075em;
  margin: 0 1.712em 1.712em 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.osago-mo-content-image::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2.3em;
  background-color: #ffdd2d;
}

.osago-mo-content-image img {
  max-width: 95%;
  max-height: 95%;
}

.osago-mo-content p {
  margin: 0;
  padding-top: 0.4em;
  font-size: 1.347em;
  font-weight: 500;
  line-height: 1.44;
  letter-spacing: -0.01em;
}

@media screen and (max-width: 1023px) {
  .osago-mo {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .osago-mo {
    font-size: 10px;
  }
}

@media screen and (max-width: 424px) {
  .osago-mo {
    font-size: 12px;
  }
  .osago-mo h2 {
    font-size: 2.2em;
  }
  .osago-mo-content-image {
    float: none;
    margin: 0.2em auto;
  }
}
/*# sourceMappingURL=main.css.map */